POSTGRES_DB=nameDB
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

PGADMIN_EMAIL=email
PGADMIN_PASSWORD=password
PGADMIN_PORT=5050

BACKEND_PORT=8080
DATABASE_URL=postgres://user:password@postgres:5432/nameDB?sslmode=disable

ML_SERVICE_URL=http://ml-service:8000
ML_SERVICE_PORT=8001

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8080
