.env
.idea/

uploads/*
!uploads/.gitkeep

backend/bin/
backend/tmp/

ml-service/.venv/
ml-service/__pycache__/
ml-service/*.pyc

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js

.DS_Store
